.splashText{
    margin: 45vh 10vw 25vh;
    text-align: center;
    font-size: 3rem;
    background-color: darkblue;
    border-radius: 12px;
    padding: 0.3rem 0;
    /* border-radius: 4px;
    border: 2px solid black;
    width: 80vw; */
}

.highlightedText{
    color: red !important;
    font-weight: 800 !important;
}

.readingSection{
    background-color: whitesmoke;
    color: black;
    display: flex;
    margin: 15vh 10vw;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
}

.readingSection h1{
    font-size: 3.2rem;
    padding: 1rem 2rem;
    background-color: whitesmoke;
    color: black;
}

.readingSection h2{
    font-size: 3rem;
    padding: 0.8rem 2rem;
    background-color: whitesmoke;
    color: black;
}

.readingSection h3{
    font-size: 2rem;
    padding: 0.6rem 2rem;
    background-color: whitesmoke;
    color: black;
}

.readingSection p{
    padding: 0.6rem 1.5rem;
    background-color: whitesmoke;
    color: black;
    font-size: 1.2rem;
}

.readingSection li{
    list-style: inside;
    color: black;
    padding: 0 2rem;
    font-size: 1.1rem;
}

.readingSection img{
    width: 60vw;
    height: auto;
    align-items: center;
}

.readingSection figure img{
    width: 99%;
    height: auto;
    align-self: center;
}

.readingSection a{
    color: blue;
}

figcaption {
    background-color: rgba(0, 0, 0, 0.9);
    color: whitesmoke;
    /* padding: 3px; */
    text-align: center;
    font-size: 0.9rem;
}

/* Data Art */

    .artSection{
        width: 100vw;
        height: auto;
        margin-top: 10vh;
        padding-top: 6rem;
        background-color: whitesmoke;
        align-items: center;
    }

    .APIDisplay{
    margin: 1rem 10vw 1rem;
    display: flex;
    flex-direction: row;
    visibility: hidden;
    }

    .APIDisplay img{
        width: 40vw;
        height: auto;
        border-radius: 10px;
    }

    .APIDisplay h4{
        color: black;
        padding: 0 2rem;
    }

    .APIDisplay time{
        color: black;
    }

.vertSection{
    flex-direction: column;
    margin-left: 2rem;
    background: whitesmoke;
    border-radius: 10px;
}

.vertSection h2{
    padding: 2rem 2rem 0;
    font-size: 2rem;
    color: black;
}

.vertSection p{
    color: black;
    padding: 1rem 2.1rem 3rem;
    font-size: 1.2rem;
}

.vertSection h3{
    padding: 2rem;
    font-size: 1.6rem;
    color: black;
}

.vertSection a{
    border: 2px solid black;
    background-color: whitesmoke;
    margin-left: 2rem;
    padding: 0.6rem;
    color: black;
    font-size: 1.3rem;
    border-radius: 10px;
}

.recommendations li{
    font-size: 1.8rem;
}

/* blog post stuff */

.blogPost {
    background-color: whitesmoke;
    color: black;
    display: flex;
    margin: 15vh 10vw;
    border-radius: 15px;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding: 1rem 0;
}

.blogPost h2{
    font-size: 3rem;
    padding: 1rem 2rem;
    background-color: whitesmoke;
    color: black;
    align-self: center;
}

.blogPost h3{
    font-size: 2rem;
    padding: 1rem 2rem;
    background-color: whitesmoke;
    color: black;
}

.blogPost p{
    padding: 1rem 2.2rem;
    background-color: whitesmoke;
    color: black;
    font-size: 1.2rem;
}

.blogPost a{
    color: blue;
    font-size: 1.1rem;
}

.blogPost img{
    align-self: center;
    max-width: 35vw;
    height: auto;
}

.blogPost cite{
    padding: 1rem 1.5rem;
    background-color: whitesmoke;
    color: black;
    font-size: 1.1rem;
    width: 98%;
    word-wrap: break-word;
}

/* reference section */
.references {
    background-color: whitesmoke;
    color: black;
    display: flex;
    margin: 15vh 10vw;
    border-radius: 15px;
    flex-direction: column;
    padding: 1rem 0;
}

.references cite{
    padding: 1rem 1.5rem;
    background-color: whitesmoke;
    color: black;
    font-size: 1.1rem;
    width: 98%;
    word-wrap: break-word;
}

.references h2{
    padding: 1rem .5rem;
    background-color: whitesmoke;
    color: black;
    font-size: 3rem;
}

.references a{
    padding: 0;
    background-color: whitesmoke;
    color: blue;
    font-size: 1.1rem;
}

.references a:hover{
    color: rgb(34, 34, 212);
    transition: all ease 0.2s;
}

.references a:active{
    color: rgb(79, 79, 255);
    transition: all ease 0.2s;
}

/* style for showcasing font */

.textShowcase{
    text-align: center;
    color: black;
    font-size: 4rem;
}

/* Style for the article quick select */

.quickSelect{
    background-color: whitesmoke;
    color: black;
    display: flex;
    margin: 15vh 10vw;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1rem 0;
}

.quickSelect h2{
    color: black;
    padding-right: 1rem;
}

.quickSelect a{
    color: black;
    font-size: 1.6rem;
    padding: 0.4rem;
    border-width: 0 0.1rem 0 0.1rem;
    border-style: solid;
    border-color: rgb(79, 79, 255);
}

/* Animated arrow */

.arrowContainer{
    /* position: absolute;
    left: 50vw;
    top: 80vw; */

    height: 20vh;
    align-items: center;
}

.arrow {
    border-color:transparent;
    border-style:solid;
    border-width:0 2em;
    display:block;
    height:0;
    margin:10em auto;
    opacity:0.4;
    text-indent:-9999px;
    transform-origin: 50% 50%;
    width:0;
}

.down {
    animation: downarrow 0.6s infinite alternate ease-in-out;
    border-top:2em solid whitesmoke;
}


/* The unique style for the home page */

.homeRow{
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    color: black;
    margin: 15vh 10vw;
    border-radius: 15px;
}

.homeRow img{
    max-width: 40vw;
    height: auto;
    margin: 4rem 6rem;
}

/* Visualization related things */

.graphHolder{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.label {
    background-color: grey;
}

.axisBlack line{
    stroke: black;
}
  
.axisBlack path{
    stroke: black;
}

.axisBlack text{
    fill: black;
}

@keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4 }
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}

/* Date selector */

.dateSelect{
    margin: 8rem 30vw 0;
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dateSelect label{
    color: black;
    font-size: 2.2rem;
}

.dateSelect input{
    color: black;
    font-size: 2.2rem;
}



@media only screen and (max-width: 830px){
    .splashText{
        margin: 35vh 5vw;
    }

    .readingSection h2{
        padding: 0 0.4rem;
        margin-top: 1rem;
        background-color: transparent;
    }

    .readingSection h3{
        padding: 0 0.4rem;
        margin-top: 2rem;
    }


    .readingSection figure{
        align-self: center;
        width: 98%
    }

    .blogPost h2{
        padding: 0 0.4rem;
        margin-top: 1rem;
        width: 98%;
        word-wrap: break-word;
    }

    .references h2{
        padding: 0 0.4rem;
        margin-top: 1rem;
    }
    
    .references a{
        background-color: rgba(0, 0, 0, 0);
    }

    .quickSelect{
        display: block;
    }

    .homeRow{
        flex-direction: column;
    }

    /* .arrowContainer{
        visibility: hidden;
        display: none;
    }

    .arrow{
        visibility: hidden;
        display: none;
    } */
}

@media(max-width:650px){
    /* .splashText{
        width: 95vw;
    } */
}